.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.back-button {
  margin-bottom: 20px;
}

.back-link {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin-top: 50px;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

p {
  font-size: 1.2rem;
  text-align: center;
  color: white;
}

.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-container {
  margin-top: 20px;
  width: 500px;
  color: #4935ddbf;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.question {
  font-weight: bold;
}

.answer {
  margin-top: 10px;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
}

.size-note {
  font-size: medium;
}

.size-footer {
  font-size: small;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .questions-container {
    width: 90%;
  }
}
  
  .submit-button {
    padding: 10px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #ee0f0fe3;
  }
  .middle { 
    text-align: center;
    width: 500px;
  }
  
  /* MenuPage1.css */

/* Style for the container */

/* Style for the file input */
input[type="file"] {
  display:inline; /* Hide the default file input */
}

/* Style for the custom upload button */
/* Style for the custom upload button on hover */

